:root {
    --accent-color: #f7cb45;
    --accent-hover-color: #fcab28;

    --white-color: #f6f6f6;
    --light-shaded-white-color: #ebebeb;
    --shaded-white-color: #ddd;
    --dark-white-color: #ccc;
    --beige-color: #f9f5f2;

    --medium-gray-color: #777;
    --pale-black-color: #444;
    --black-color: #282a36;

    --font-primary: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-headline: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

@font-face{
	font-family: erasITC;
	src: url(fonts/ERASDEMI.TTF);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-primary);
    color: var(--black-color);
    font-size: 1.25em;
}

a {
    color: var(--black-color);
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}

header {
    width: 100%;
    background-color: var(--beige-color);
    background-image: url(./img/abstract-wave-texture.png);
    background-position: center top;
    margin-bottom: 17em;
}

h1 {
    font-family: var(--font-headline);
    font-weight: 800;
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
}

code {
    white-space: nowrap;
    font-family: monospace, sans-serif;
    font-size: 0.9em;
    padding: 0 0.3em;
    border-radius: 0.2em;
    background-color: #0002;
}

img {
    display: block;
    width: 100%;
    border-radius: 0.3em;
}

.logo {
    font-family: ErasITC;
    font-size: 1.5em;
}

/* --------------------------------------------- Header --------------------------------------------- */

header h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    padding: 1.5em 1em 1em 1em;
    font-size: 0.9em;
}

nav a {
    position: relative;
}

nav h3 {
    margin: -0.55em 0 0 0;
}

nav h3 a {
    vertical-align: middle;
}

nav h3 a span {
    padding: 0.3em 1em 0.5em 1em;
    color: var(--black-color);
    background-color: var(--accent-color);
    border-radius: 1.2em;
    transition: 0.5s ease;
    border: 0.15em solid var(--black-color);
    border-bottom-width: 0.35em;
    vertical-align: text-bottom;
}

.logo img {
    height: 1.75em;
    border-radius: 0.1em;
    vertical-align: middle;
    transition: 0.5s;
}

nav .logo span {
    font-size: 1.3em;
    vertical-align: middle;
    display: none;
}

nav svg {
    display: none;
    width: 2.3em;
    cursor: pointer;
}

nav .flex {
    gap: 1em;
}

.flex-spacer {
    flex-grow: 1;
}

.primary-button {
    padding: 0.8em 1.2em;
    color: var(--black-color);
    font-weight: 600;
    background-color: var(--accent-color);
    border: 0.15em solid var(--black-color);
    border-bottom-width: 0.35em;
    border-radius: 1.2em;
    transition: 0.5s ease;
    cursor: pointer;
}

.secondary-button {
    padding: 0.8em 1.2em;
    color: var(--black-color);
    border: 0.15em solid var(--black-color);
    border-bottom-width: 0.35em;
    border-radius: 1.2em;
    transition: 0.5s ease;
    cursor: pointer;
}

header .primary-button, header .secondary-button {
    border-radius: 0.3em;
}

/* --------------------------------------------- About --------------------------------------------- */

#about {
    padding: 5em 0 0 0;
}

#about.flex {
	display: grid;
	text-align: center;
}

#about-text {
    width: 100%;
    padding-bottom: 3em;
}

#about-text h3:first-child {
    font-weight: 500;
}

#about-text h3:last-child {
    font-weight: 400;
}

#about-text h1 span, #about-text h3 span {
    white-space: nowrap;
}

.flex {
    display: flex;
    flex-flow: wrap;
    gap: 0.2em;
    align-items: center;
}

#ah-image {
    position: relative;
    width: clamp(0px, 100%, 576px);
    height: clamp(150px, 45vw, 270px);
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    border-radius: 100em 100em 0 0;
}

#ah-image div.blob-wrapper {
    margin: 0 1.5em;
}

/* --------------------------------------------- Section --------------------------------------------- */

.wrapper {
    width: clamp(0px, 90%, 1075px);
    margin: 0 auto;
}

section.wrapper {
    padding-top: 3em;
    margin-bottom: 5em;
}

section .title {
    margin-bottom: 3em;
}

section h2 {
    font-family: var(--font-headline);
}

section h2::after {
    content: '';
    display: block;
    height: 0.1em;
    width: 5em;
    background-color: var(--black-color);
    border-radius: 1em;
    margin: 0.5em auto 0 auto;
}

section .hide-first {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s, opacity 0.35s, visibility 0.35s;
}

/* --------------------------------------------- Features --------------------------------------------- */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 1em;
}

#technologies .grid {
    grid-template-columns: repeat(auto-fit, minmax(10.2em, 1fr));
}

#projects .grid {
    grid-template-columns: repeat(auto-fit, minmax(15.16em, 1fr));
}

.grid-featured {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-bottom: 1em;
}

.feature {
    background-color: var(--white-color);
    padding: 2em;
    border-radius: 1em;
}

.feature .img-wrapper {
    overflow: hidden;
    max-height: 15.5em;
    margin: 0 auto 2em auto;
    border-radius: 0.5em;
}

.feature img {
    display: block;
    width: 100%;
    height: 15.5em;
    object-fit: cover;
    filter: saturate(0.5);
    animation-duration: 0.5s;
    transition: all 0.2s ease-in-out;
}

.feature .icon-wrapper {
    margin: 0 auto 1em auto;
    width: 5em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .3s;
    position: relative;
}

.feature .icon-background {
    position: absolute;
    top: 0;
    left: 0;
}

.feature .icon-background path {
    transition: 0.5s;
    fill: var(--shaded-white-color);
}

.feature .icon path.hover-black {
    transition: 0.5s;
}

.feature .icon-wrapper .icon, .icon {
    width: 2em;
    transition: .5s;
    position: relative;
    fill: var(--black-color);
}

.feature .icon-wrapper i.icon, i.icon {
    width: unset;
    font-size: 2em;
}

.feature-title {
    font-family: var(--font-headline);
    font-weight: 600;
    margin-bottom: 0.3em;
    text-align: center;
}

.feature-description {
    font-size: 0.9em;
    text-align: center;
}

.reveal { 
	position: relative; 
	opacity: 0; 
} 

.reveal.active { 
	opacity: 1; 
} 

.active.fade-top { 
	animation: fade-top 0.3s ease-in;; 
}

/* --------------------------------------------- Projects --------------------------------------------- */

#projects .feature {
    padding: 1em 1em 2em 1em;
    border-radius: 0.5em;
}

/* --------------------------------------------- Project Details --------------------------------------------- */

#details p {
    text-align: justify;
}

#details center p {
    text-align: center;
}

/* --------------------------------------------- Project Links --------------------------------------------- */

#links .primary-button {
    display: block;
    text-align: center;
}

/* --------------------------------------------- Project Gallery --------------------------------------------- */
#gallery img {
    cursor: zoom-in;
}

#gallery iframe {
    width: 100%;
    height: clamp(0px, 50vw, 550px);
}

#gallery img.portrait {
    width: 40% !important;
    margin: 0 auto;
}

.img-post {
	height: 30em; 
	width: calc(100% + calc(2 * clamp(0.8em, calc(100vw - 25.5em), 1.55em))); 
	margin-left: calc(-1 * clamp(0.8em, calc(100vw - 25.5em), 1.55em)); 
	margin-top: -1px; 
	background-position: center; 
	background-size: cover; 
	cursor: pointer; 
}

.img-open {
	position: fixed;
    z-index: 2;
	top: 0; left: 0;
	max-width: 100vw;
	max-height: 100%;
	height: 100%;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: default;
	transition: none;
	animation-name: zoom;
	animation-duration: 0.6s;
}

#close-img {
	position: fixed;
	z-index: 3;
	top: 0.315em;
	right: 0.625em;
	cursor: pointer;
    padding: 0.5em 0.8em;
	border-radius: 2.5em;
}

#cover-img {
    position: fixed;
    z-index: 1;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: #000000d9;
}

/* --------------------------------------------- Project Bottom --------------------------------------------- */

section#bottom.wrapper {
    margin-bottom: 8em;
}

#share-wrapper span {
    vertical-align: super;
    font-weight: 600;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em 0.3em;
    align-items: center;
	color: var(--medium-gray-color);
    font-size: 0.8em;
}

.tags text {
    font-size: 1.1em;
}

.tags span {
    background-color: var(--light-shaded-white-color);
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: 600;
}

/* --------------------------------------------- Contact --------------------------------------------- */

#contact {
    margin-top: 10em;
}

#contact a {
    color: var(--medium-gray-color);
}

/* --------------------------------------------- Footer --------------------------------------------- */

#last-message {
    position: relative;
    width: clamp(0px, 65%, 537px);
    padding: 2em 2em 2.2em 2em;
    margin: 2em auto -7em auto;
    border-radius: 1em;
    text-align: center;
    background-color: var(--white-color);
    border: 0.3em solid var(--black-color);
    border-bottom-width: 0.8em;
}

#last-message .icon {
    font-size: 1.8em;
    color: var(--medium-gray-color);
    padding: 0.6em 0.2em;
    width: 2em;
    cursor: pointer;
}

footer {
    background-color: var(--beige-color);
    background-image: url(./img/abstract-wave-texture.png);
    background-position: center bottom;
    padding: 14em 0 3em 0;
    font-size: 0.85em;
}

footer a {
    color: var(--pale-black-color);
}

.copyright {
    text-align: center;
}

.copyright span {
    opacity: 75%;
}

/* --------------------------------------------- Keyframe --------------------------------------------- */
@keyframes grow {
    100% {
      width: 100%;
    }
}

@keyframes fade-top { 
	0% { 
		transform: translateY(1em); 
		opacity: 0; 
	} 
	100% { 
		transform: translateY(0); 
		opacity: 1; 
	} 
}

@keyframes zoom {
	from {
        transform:scale(0)
    }
	to {
        transform:scale(1)
    }
}

/* ------------------------------------------------- Hover Effect ------------------------------------------------- */
@media (hover: hover) and (pointer: fine) {
    a:hover {
        text-decoration: none;
    }

    a:hover.hover-underline, #contact a:hover {
        color: var(--black-color);
        text-decoration: underline;
    }

    .logo:hover img {
        filter: grayscale(1);
    }

    nav a:hover.hover-underline {
        text-decoration: none;
    }

    nav a:hover.hover-underline::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 1.25em;
        left: 0;
        height: 0;
        width: 0;
        border-bottom: 0.2em solid var(--black-color);
        animation: grow 0.2s linear;
        animation-fill-mode: forwards;
    }

    nav h3 a:hover span {
        background-color: var(--accent-hover-color);
    }

    .primary-button:hover, .secondary-button:hover {
        background-color: var(--accent-hover-color);
    }

    .primary-button:hover svg {
        fill: var(--black-color);
    }

    .feature:hover img {
        filter: saturate(1);
        scale: 1.1;
    }

    .feature:hover .icon-background path, .feature:hover .icon path.hover-black {
        fill: var(--black-color);
    }

    .feature:hover .icon path {
        fill: var(--shaded-white-color);
    }

    .feature:hover .icon-wrapper i.icon {
        color: var(--shaded-white-color);
    }

    #share-wrapper:hover .icon {
        color: var(--medium-gray-color);
    }

    #share-wrapper .icon:hover {
        color: var(--black-color);
    }

    #last-message .icon:hover {
        color: var(--black-color);
    }

    @media only screen and (max-width: 670px) {
        nav a:hover.hover-underline::after {
            top: 2em;
            border-bottom: 0.1em solid var(--black-color);
        }
    }
}

/* --------------------------------------------- Responsive --------------------------------------------- */
@media only screen and (max-width: 795px) {
    body {
        font-size: 1.05em;
    }

    #projects .grid-featured {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 670px) {
    header h3 {
        display: contents;
    }

    nav {
        position: relative;
        z-index: 2;
        height: 2.7em;
        transition: 0.5s;
        overflow: hidden;
    }

    nav svg, nav i.icon {
        display: block;
    }

    nav .menu{
		display: grid;
        position: relative;
        top: 1em;
        width: 100%;
        text-align: center;
	}

    nav .menu::before {
        content: '';
        display: block;
        height: 0.15em;
        width: 100%;
        background-color: var(--black-color);
        border-radius: 1em;
    }

    nav .menu a.hover-underline {
        padding: 0.6em 0;
    }

    nav .menu .secondary-button {
        margin-right: 0;
    }

    #last-message {
        width: 55%;
        padding: 1.1em 4.3em 1em 4.3em;
        margin: 2em auto -5.5em auto;
    }

    #last-message h1 {
        font-size: 1.8em;
    }

    footer {
        padding-top: 11em;
    }
}

@media only screen and (max-width: 499px) {
    body {
        font-size: 0.8em;
    }

    #ah-image div.blob-wrapper {
        margin: -0.5em 1.5em 0 1.5em;
    }

    .grid, .grid-featured {
        grid-template-columns: 1fr;
    }

    #technologies .grid {
        grid-template-columns: repeat(auto-fit, minmax(8.4em, 1fr));
    }

    #technologies .feature {
        padding: 1em 0;
    }
}
